[submodule "3rdpart/sast-link-cxx-sdk"]
	path = 3rdpart/sast-link-cxx-sdk
	url = https://github.com/Serein207/sast-link-cxx-sdk.git
[submodule "ui/modules/surrealism-ui"]
	path = ui/modules/surrealism-ui
	url = https://github.com/Surrealism-All/SurrealismUI.git
[submodule "3rdpart/keychain"]
	path = 3rdpart/keychain
	url = https://github.com/hrantzsch/keychain.git
