# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# clangd cache
.cache

# CMake user presets
CMakeUserPresets.json

# CMake build directory
/build
/out
/.vscode/settings.json

action-cli

*.rc
*.mo